/*检查单*/
.popup-checklist{
    min-width: 780px;width: 65%;
}
.sheet-main-header{
    margin-bottom: 0;
    border: 0;
    background: #ebf5ff;
}
.sheet-main-header td, .sheet-main-header th{
    min-width: 150px;
    padding: 5px;
    border: 0;
    text-align: left;
    color: #999;
}
.sheet-main-header td span{
    margin-left: 5px;
    color: #000;
}
.sheet-main-con{margin-bottom: 0;}
.sheet-main-con th{
    border: 0;border-bottom: 1px solid #ccc;
}
.sheet-main-con td{border: 0;}
.sheet-main-con td.space-line, .sheet-main-con th.space-line{border-right: 1px solid #ccc;}
.sheet-main-con td, .sheet-main-con th{
    padding: 5px;
    text-align: left;
}
.sheet-result{
    min-height: 150px;
    padding: 10px;
    text-align: left;
}
.sheet-result h4{
    margin-bottom: 10px;
    font-size: 16px;color: #999;
}
/*手术*/
.popup-operation{
    min-width: 660px;
}
.patient-info{margin: 0 0 5px 10px;}
.patient-info:after{
    content: " ";display: block;visibility: hidden;clear: both;
}
.patient-info li{
    float: left;margin-right: 20px;
    color: #999;line-height: 20px;
}
.patient-info li span{
    margin-left: 5px;
    color: #000;
}
.operation-main-con{
    margin-bottom: 0;
}
.operation-main-con td, .operation-main-con th{
    text-align: left;
    padding: 5px 7px;
}



/*popup*/
.popup-bg{
    position: fixed;top: 0;left: 0;width: 100%;height: 100%;
    background: rgba(51, 51, 51, 0.5);
    z-index: 1001;
}
.popup-box{
    position: fixed;left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;overflow: hidden;
    min-width: 300px;max-width: 1100px;
    background: #fff;
}
.popup-box .popup-header{
    height: 50px;padding: 15px 20px;margin: 0;
    background: #fff;
    font-size: 16px;text-align: center;
}
.popup-close{
    float: right;
}
.popup-box .popup-body{
    background: #fff;
}
.popup-body-nav{
    height: 50px;
    text-align: center;
    padding: 10px 10px;
    background: #F5F7FA;
}
.popup-body-nav a{
    margin: 5px 10px;
    display: inline-block;
}
.popup-box .popup-footer{
    margin: 20px auto;
    text-align: center;
}
.popup-item-border{
    border: 1px solid #ccc;
}
/*检验单*/
.popup-checklist{
    height: 500px;
}
.popup-checklist-table{
    margin: 10px;
    background: #fff;
}
.popup-checklist-table-title{
    text-align: center;
    padding: 15px 10px;
}
.popup-checklist-content{
    overflow: auto;
}
.sheet-main-header{
    border: 1px solid #5AB7D6;
    margin-bottom: 10px;
}
.popup-item-border .sheet-main-header{
    border-left: 0;border-right: 0;
}
.sheet-main-con th{
    padding: 10px 5px;
}

