<div class="form-group form-inline audit-plan-list" *ngIf="!justNeedDialog">
    <label class="f-i-label" *ngIf="searchType == 1">医生：</label>
    <label class="f-i-label" *ngIf="searchType == 2">医疗组：</label>
    <label class="f-i-label" *ngIf="searchType == 3">病区：</label>
    <div class="audit-plan-doc-select">
        <span *ngFor="let doctorResult of doctorResultList" class="audit-plan-doc-name">
            {{doctorResult.name}}
            <span class="audit-plan-X" (click)="doctorResultDelete(doctorResult)">X</span>
        </span>
    </div>
    <button type="button" id="openDoctor" class="btn btn-add btn-sm" (click)="popup()">+ 添加</button>
</div>
<!-- <div class="form-group form-inline audit-plan-list" *ngIf="justNeedDialog" style="width: 100%;height: 100%;display: block;position: absolute; left: 0; top: 0;" (click)="popup()"></div> -->
<div class="popup-add" id="popupAdd" *ngIf="isPopupShow" (click)="stopPropagation($event)">
    <div class="popup-add-doctor flex column" id="popupDoctor">
        <div class="popup-add-header" *ngIf="searchType == 1">
            选择医生
            <img class="popup-add-close" src="../../../images/close.svg" alt="关闭" (click)="canclePopup($event)">
        </div>
        <div class="popup-add-header" *ngIf="searchType == 2">
            选择医疗组
            <img class="popup-add-close" src="../../../images/close.svg" alt="关闭" (click)="canclePopup($event)">
        </div>
        <div class="popup-add-header" *ngIf="searchType != 1 && searchType != 2">
            选择病区
            <img class="popup-add-close" src="../../../images/close.svg" alt="关闭" (click)="canclePopup($event)">
        </div>
        <div class="popup-add-body flex1 flex">
            <div class="flex1 flex column" style="padding: 10px;">
                <div class="form-inline" style="margin-bottom: 10px;">
                    <label>选择院区</label>
                    <select class="form-control form-control-sm ml-2" [(ngModel)]="zoneId" (change)="zoneChange($event.target.value)" style="height: 30px;padding: 0 .5rem;font-size: 13px;">
                        <option *ngFor="let zone of zoneList" value="{{zone.id}}">{{zone.name}}</option>
                    </select>
                </div>
                <div class="flex1 flex column popup-add-body-left">
                    <div class="input-group" style="margin-bottom: 10px;">
                        <div class="input-group-addon icon-search"></div>
                        <input type="text" class="form-control form-control-sm" id="inlineFormInputGroup" #doctorSearchBox (keyup)="searchDoctor(doctorSearchBox.value)">
                    </div>
                    <ul class="flex1" style="overflow: auto;">
                        <li class="form-check" *ngFor="let doctor of doctorList" style="justify-content: flex-start;">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="type" value="{{doctor.name}}" (click)="doctorClick(doctor)" [checked]="doctor.checked">
                                <span class="middle">{{doctor.name || doctor.docGroup || doctor.inWardName}}</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex1 flex column" style="padding: 10px;">
                <div class="add-program-header" style="margin-bottom: 10px;">已经选择</div>
                <div class="flex1 popup-add-body-right">
                    <div *ngFor="let doctorChoose of doctorChooseList">
                        <div>{{doctorChoose.name}}<span (click)="doctorDelete(doctorChoose)"><img src="../../../images/close-1.svg" alt="关闭"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-add-footer">
            <button type="button" class="btn btn-secondary btn-sm" (click)="canclePopup($event)">取消</button>
            <button type="button" class="btn btn-primary btn-sm ml-3" (click)="submitPopup($event)">确定</button>
        </div>
    </div>
</div>