body {
    font-size: 13px;
}
.fillspace-15 {
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
}

.header-file {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
}
.recipe-info{
    margin-bottom: 10px;
}
.clear-both {
    clear: both;
}

.pre-ckeck {
    position: relative;
    background: #fff;
    height: 45px;
    overflow: hidden;
}

.check-return {
    float: left;
    background: #fff;
    margin:10px 0 0 15px;
}

.left-arrow {
    width: 18px;
    height: 18px;
}

.check-return span {
    font-family: STHeitiSC-Medium;
    font-size: 13px;
    color: #515253;
}

.check-title {
    display: block;
    font-size: 16px;
    line-height: 45px;
    margin: 0 152px;
}

.check-header {
    margin-right: 0;
    margin-left: 0;
    background: #fff;
    border-top: 1px solid #f9f9f9;
}

.check-header-patient{
    border-right: 1px solid #eceeef;
}

.check-header-patient {
    border-right: 1px solid #f9f9f9;
}

.check-header-patient table {
    border: none;
    margin: 0;
    background-color: inherit;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #eceeef;
    /*float: left;*/
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.check-header-patient td {
    padding: 5px 7px;
    height: 30px;
    font-size: 13px;
    color: #999;
    border: none;
    text-align: left;
    white-space: nowrap;
}

.check-header-patient>table>thead>tr>td>span {
    font-size: 13px;
    color: #292b2c;
}

.checks {
    padding: 5px;
}

.text-center {
    text-align: center !important;
}

.checks .check-list {
    height: 80px;
    padding: 0 5px;
    line-height: 80px;
    font-size: 12px;
    vertical-align: initial;
    cursor: pointer;
    text-align: center;
}
.checks .check-list:hover{
    background: #f8f8f8;
}

.checks .check-list>img {
    width: 16px;
    height: 17px;
    color: #94A2AE;
    margin-right: 5px;
}

.flex1 {
    overflow: hidden;
    border: 0;
    margin-right: 0;
    margin-left: 0;
    height: 80%;
}

.pre-patient {
    float: left;
    border: 1px solid #f9f9f9;
    background: #fff;
    overflow-y: auto;
    width: 100%;
}

.pre-info-table>thead>tr {
    border-right: none !important;
}

#prescription-info {
    width: 97.5%;
    /*height: 200px;*/
    /* margin: 15px; */
    display: block;
    margin: 15px;
    border: 1px solid #f9f9f9;
    /*min-height: 300px;*/
}

#prescription-info>table>tr>td {
    border: none !important;
}

.audit-instructions {
    width: 132px;
    height: 55px;
    float: left;
    background-color: #fff;
}

.audit-instructions span {
    float: left;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
}

.audit-instructions img {
    float: left;
    padding-top: 2px;
}

.audit-instructions span {
    font-family: STHeitiSC-Medium;
    font-size: 13px;
    color: #515253;
    float: right;
}

.pre-ord-list {
    float: left;
    /*width: 60%;*/
    /*border: 1px solid rgba(121, 121, 121, 1);*/
    padding: 0;
    border: 1px solid #f9f9f9;
    background: #fff;
    overflow: auto;
    width: 100%;
    /*height: 100%;*/
}

.pre-ord {
    width: 100%;
    /*height: 200px;*/
    margin: 15px !important;
    display: block;
}
.pre-ord th{
    height: auto;
}

#prescription-info>table {
    margin: 0 !important;
}

.pre-ord-num,
.pre-suggest-num {
    /*border-top-left-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
    padding-left: 8px;
    background: rgb(200, 200, 200);
}

.pre-ord-num {
    min-height: 20px;
    padding: 0 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: rgb(200, 200, 200);
}

.pre-ord-action {
    background-color: #2FA715;
    color: #fff;
}

.pre-old-num {
    height: 24px;
    line-height: 24px;
}


/*.pre-ord-action,*/

.pre-suggest-action {
    /*background: rgba(255, 153, 102, 1);*/
    background-color: #FBFBFB;
}

.recipe-font {
    /*font-family: STHeitiSC-Medium;*/
    font-size: 14px;
    color: #2FA715;
    line-height: 34px;
    float: left;
    margin-left: 12px;
    position: absolute;
}

.pre-ord-check {
    /*color: red;*/
    /*cursor: pointer;*/
}

.pre-suggest-list {

}
.option-help{
    float: right;
    color: #000;
    font-size: 12px;
}
.pre-suggest-question {
    /*margin-left: 60%;*/
    /*float: right;*/
    margin-right: 30px;
}

.order-header {
    line-height: 30px;
    position: relative;
    left: 80%;
    top: -7px;
}

.pre-suggest-num {
    height: 35px;
    padding: 5px 8px;
    background: #fbfbfb;
    color: #00a82e;
    font-size: 14px;
    line-height: 25px;
    border-bottom: 1px solid #D9E4E7;
}

.pre-suggest-num .green-dot-icon {
    padding: 4px;
    margin-right: 5px;
    border-radius: 4px;
    background: #00a82e;
    font-size: 0;
    vertical-align: middle;
}

.pre-suggest {
    width: 100%;
    background-color: #fff;
}

.recipe-number {
    /*margin-top: 53px;*/
    height: 30px;
    padding: 5px 8px;
    background: #f2f3f4;
    color: #00a82e;
    border-bottom: 1px solid #eceeef;
}

.pre-suggest-text {
    padding: 5px 10px;
}

.audit-info-list {
    margin-bottom: 10px;
}

.audit-info {
    margin-left: 5px;
    border-left: 1px solid #eceeef;
}

.audit-info:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
}

.blue-circle {
    float: left;
    width: 10px;
    height: 10px;
    border: 2px solid #4EB7E0;
    border-radius: 50%;
    margin: 13px 8px 11px -5px;
}

.pre-suggest {
    height: 100%;
    background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.pre-suggest-time {
    /*float: left;*/
    padding: 5px 5px 5px 15px;
    line-height: 20px;
}

.pre-suggest-info {
    /*margin-left: 23px;*/
}

.pre-suggest-drug {

}
.pre-suggest-drug .drug-name {
    padding: 5px 10px;
}
.blue-rect-icon {
    padding: 7px 3px;
    margin-right: 5px;
    background: #4EB7E0;
    font-size: 0;
    vertical-align: 4px;
}

.doctor-opinion-first {
    /*border-radius: 5px;
    padding: 5px;
    background: #FFCCCC;*/
    margin-bottom: 1px;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    padding-left: 18px;
}

.doctor-opinion-second {
    border-radius: 5px;
    padding: 5px;
    background: #BBFF66;
}

.check-text {
    position: relative;
    border-top: 1px solid #ccc;
}

.check-count {
    padding: 5px 10px;
}

.check-textarea {
    margin: 10px;
}

.check-textarea textarea {
    width: 100%;
    height: 60px;
    padding: 0 5px;
    border: 1px solid #ccc;
    resize: none;
}
.msg-handle-btns {
    margin: 0 10px;
}

.msg-handle-btns:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
}

.msg-handle-btns .btn-secondary {
    float: left;
    margin-right: 10px;
}

.msg-handle-btns .btn-primary {
    float: right;
}

/*.check-text>span {
    font-size: 12px;
    float: left;
    margin-right: 15px;
}

.check-text .red-font {
    color: red;
}

.check-btn-fail {
    float: left;
    color: #535353;
    margin: 10px 40px;
    background: #fff;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
}

.check-btn-pass {
    float: right;
    color: #fff;
    margin: 10px 40px;
    background: #4EB7E0;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
}*/

.electronic-case {
    width: 757px;
    height: 577px;
    overflow: hidden;
    background-color: #fff;
}

.electronic-medical-record,
.allergy-info {
    width: 757px;
    height: 577px;
    overflow: hidden;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 100px;
    /*background-color: #fff;*/
}

.closeCase {
    /*width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: -77px;*/
}

.popup-case-text {
    /*border: 2px solid #ccc;*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.popup-operation {
    width: 600px;
    height: 400px;
    overflow: hidden;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 100px;
}

.audit-not-through {
    width: 180px;
    position: absolute;
    right: 92px;
    /*display: none;*/
}

.rectangle {
    width: 5px;
    height: 12px;
    border: 1px solid #4EB7E0;
    background: #4EB7E0;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.medicine-name {
    font-family: STHeitiSC-Medium;
    font-size: 14px;
    color: #4EB7E0;
    line-height: 27px;
}

.signature-confirmation {
    margin: 5px 0 0 20px;
}

.back-info {
    margin-bottom: 1px;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    padding-left: 18px;
    /*width: 265px;
    height: 35px;*/
}

.back-info2 {
    width: 222px;
    /*height: 105px;
    border-left: 1px solid #ccc;*/
}

.roundness {
    border: 1px solid #4EB7E0;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-bottom: -15px;
    margin-left: -5px;
}

.back {
    margin: 15px 0 15px 15px;
}

.review-opinions {
    /*position: relative;
    left: -160px;*/
    /*margin-right: 332px;*/
    border-left: 1px solid #f9f9f9;
    padding-left: 7px;
    float: left;
}

.popup-focus {
    /*width: 600px;
    height: 100%;
    margin: 0 auto;
    margin-top: 120px;*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
    min-width: 750px;
    max-width: 1100px;
    min-height: 570px;
    background: #fff;
}

.electronic-case-header,
.assay-sheet-header,
.view-operation-header {
    background-color: #ffffff !important;
    border-radius: 0 !important;
}

.electronic-case-header>div,
.assay-sheet-header,
.view-operation-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    /* max-width: 50%; */
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.electronic-case-header>div>span,
.assay-sheet-header>span,
.view-operation-header>span {
    font-family: STHeitiSC-Medium;
    font-size: 14px;
    color: #515253;
    text-align: center;
}

.text-right {
    /*position: relative;*/
    /*left: 555px;*/
    display: block;
    text-align: right!important;
}

.close-look {
    position: relative;
    left: 370px;
    top: -10px;
}

.assay-sheet,
.operation-model {
    width: 757px;
    height: 577px;
    /*overflow: scroll;*/
    margin: 0 auto;
    margin-top: 100px;
}


/*.assay-sheet {
    overflow: inherit;
}*/

.check-sheet {
    width: 757px;
    height: 577px;
    /*overflow: scroll;*/
    background-color: #fff;
}

.special-inspection-content,
.operation-content {
    height: 100% !important;
}

.allergy-info-close {
    position: relative;
    /*left: 715px;*/
    top: -35px;
}

.allergy-info-table {
    height: 100% !important;
}

#openAllergy {
    font-family: STHeitiSC-Medium;
    font-size: 12px;
    color: #4EB7E0;
    line-height: 27px;
}
.table-header{
    padding: 10px;
    border: 1px solid #eceeef;
    border-top: none;
    font-size: 12px;
}
.table-header>table>thead>tr>td {
    border: 0 !important;
}

.table-one {
    border:none;
    margin-bottom: 0;
}

.table-one td:hover {
    border-color: deepskyblue !important;
}

.table-two {
    margin-bottom: 0;
}

.table-two>tbody>tr {
    height: 40px;
}

.table-two>tbody>tr>td {
    height: 35px;
}

.tooltip-inner {
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    padding: 3px 8px;
    color: #2FA715;
    text-align: center;
    background-color: #BBFF66;
}

.popup-body-nav {
    width: 100%;
    height: 40px;
    background: #F8F8F8 !important;
}

.popup-checklist-table {
    width: 97.5%;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #efeeec;
}


/*
.popup-checklist-table>table {
    float: none;
}

.popup-checklist-table>table>tbody {
    background: #F1FAFD;
    border: 1px solid #5AB7D6;
}

.popup-checklist-table>table>tbody>tr>td {
    border: 0;
}*/

.ultrasonography,
.special-inspection,
.bacterial-culture-test,
.drug-sensitivity-test,
.pathological-examination {
    border: 1px solid #dfdfdf !important;
}

.audit-setting-operation {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #5D9CEC;
    vertical-align: middle;
    /*border: none;
    background-color: transparent;
    cursor: pointer;*/
    position: absolute;
    left: 197px;
    top: 200px;
}

.audit-setting-operation>mouse-tips {
    width: 100px !important;
    height: 100px !important;
    font-size: 13px;
    position: absolute;
    z-index: 99999;
}

.audit-operating-instructions {
    margin-top: 10px;
    position: absolute;
    left: 86%;
    z-index: 99;
}


/*.signature-confirmation span {
    font-family: STHeitiSC-Medium;
    font-size: 13px;
    color: #FF4600;
    line-height: 27px;
}*/


/*.check-operation {
    display: inline-block;
    width: 175px;
    height: 85px;
    line-height: 85px;
    vertical-align: initial;
}*/


/*popup*/

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.5);
    z-index: 1001;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
    min-width: 300px;
    max-width: 1100px;
    background: #fff;
}

.popup-box .popup-header {
    height: 50px;
    padding: 15px 20px;
    margin: 0;
    background: #fff;
    font-size: 16px;
    text-align: center;
}

.popup-close {
    float: right;
}

.popup-box .popup-body {
    background: #fff;
}

.popup-body-nav {
    height: 40px;
    text-align: center;
    padding: 10px 10px;
    background: #F5F7FA;
}

.popup-body-nav a {
    margin: 5px 10px;
    display: inline-block;
}

.popup-box .popup-footer {
    margin: 20px auto;
    text-align: center;
}

.popup-allergy {
    width: 500px;
}

.popup-allergy-content {
    margin: 10px;
    max-height: 450px;
    overflow: auto;
}

.examine-tips>mouse-tips {
    float: left;
    height: 500px !important;
}
.pre-suggest-drug  .drug-warning-sug{
    padding: 10px 10px 5px 20px;
}

.pre-suggest-drug .drug-warning-sug .warning-III {
    color: #ff0000;
}

.pre-suggest-drug .drug-warning-sug .warning-II {
    color: #ff7600;
}

.pre-suggest-drug .drug-warning-sug .warning-I {
    color: #9b9b9b;
}

.warning-msg {
    margin-bottom: 5px;
}

.warning-msg input[type='checkbox'] {
    vertical-align: -2px;
    margin-right: 5px;
}

.warning-msg .warning-level {
    margin-left: 5px;
}

.patientAllergyFont {
    font-size: 13px;
    color: #999;
    border: none;
}

.phar-suggestion>span {
    display: inline-block;
    /*margin: 0 10px 5px 0;
    padding: 5px;*/
    background: #f2f2f2;
    border-radius: 3px;
}

.popup-gz {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.5);
    z-index: 1001;
}

.table-bordered {
    width: 96%;
    max-width: 100%;
    margin-bottom: 1rem;
    margin-left: 2%;
}

.focus-title {
    margin-top: 10px;
    margin-left: 2px;
}

.popup-asso {
    width: 900px;
    height: 550px;
    overflow: auto;
}

.popup-asso .popup-header {
    height: 50px;
    padding: 15px 20px;
    margin: 0;
    background: #fff;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #F5F7FA;
}

.popup-asso-content {
    overflow: auto;
}

.asso-tips {
    font-size: 18px;
    text-align: center;
}

.asso-title {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 10px solid #4EB7E0;
    font-size: 18px;
    line-height: 25px;
}

.popup-operation-table {
    margin: 10px;
    background: #fff;
}


/*手术*/

.popup-operation {
    min-width: 660px;
}

.patient-info {
    margin: 0 0 5px 10px;
}

.patient-info:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
}

.patient-info li {
    float: left;
    margin-right: 20px;
    color: #999;
    line-height: 20px;
}

.patient-info li span {
    margin-left: 5px;
    color: #000;
}


/**实验室指标**/

.asso-lab {
    margin-bottom: 10px;
}

.laboratory-findings {
    border: 0;
}

.asso-title {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 10px solid #4EB7E0;
    font-size: 18px;
    line-height: 25px;
}

.sheet-main-con {
    /*margin-bottom: 0;*/
}

.sheet-main-con th {
    border: 0;
    border-bottom: 1px solid #eceeef;
}

.sheet-main-con td {
    border: 0;
}

.sheet-main-con td.space-line,
.sheet-main-con th.space-line {
    border-right: 1px solid #eceeef;
}

.sheet-main-con td,
.sheet-main-con th {
    /*padding: 5px;*/
    /*text-align: left;*/
    padding: .75rem;
    border: 1px solid #eceeef;
}


/*检查单*/

.popup-checklist {
    min-width: 780px;
    width: 65%;
}

.sheet-main-header {
    margin-bottom: 0;
    border: 0;
    background: #ebf5ff;
}

.sheet-main-header>tbody {
    border-top: 1px solid #4EB7E0;
    border-bottom: 1px solid #4EB7E0;
}

.sheet-main-header td,
.sheet-main-header th {
    min-width: 150px;
    padding: 5px;
    border: 0;
    text-align: left;
    color: #999;
}

.sheet-main-header td span {
    margin-left: 5px;
    color: #000;
}

.popup-header-title {
    float: left;
    margin-left: 10px;
}

.popup-checklist-table-title {
    text-align: center;
    padding: 15px 10px;
}


/**特殊检查**/

.sheet-result {
    min-height: 150px;
    padding: 10px;
    text-align: left;
    overflow: auto;
}

.sheet-result h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #999;
}